<div class="credits">
<hr>
  <h2>Credits</h2>

  <div class="entry">
  	<span class="credit-title">Reporter</span>
    <br><span class="credit-name">Ryan Kost</span><br><a href="mailto:rkost@sfchronicle.com">rkost@sfchronicle.com</a> <br><a href = "https://twitter.com/ryankost" target="_blank">@ryankost</a>
  </div>

  <div class="entry">
    <span class="credit-title">Photographer</span>
    <br><span class="credit-name">Leah Millis</span><br><a href="mailto:lmillis@sfchronicle.com">lmillis@sfchronicle.com</a><br><a href = "https://twitter.com/LeahMillis" target="_blank">@leahmillis</a>
  </div>


  <div class="entry">
  	<span class="credit-title">Developer</span>
  	<br><span class="credit-name">Lucio Villa</span><br><a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a><br><a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a>
    
  </div>
</div>
